.Landing {
	text-align: center;
}

.Landing-header {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #c0cfd1;
}

.Landing-content {
	background-color: #00a9ed;
	color: white;
	width: 50%;
	height: 300px;
}